# Entornos virtuales de Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos
*.db

# Archivos de Node
node_modules/
npm-debug.log
yarn-error.log

# Archivos de compilación de React
build/
.DS_Store
