body {
  background-color: #f5f5f5; /* Gris claro */
  font-family: 'Verdana', sans-serif;
  font-size: 18px; /* Texto grande */
}

h1, .display-4 {
  font-weight: bold;
}

button.btn-lg {
  padding: 16px;
  font-size: 20px; /* botones grandes */
}